<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
        <title>Expenses</title>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <form hx-post="{% url 'expense:add_expense' %}" hx-swap="outerHTML" hx-target="body">
        {% csrf_token %}
            <input type="text" placeholder="add expense" name="expense">
            <input type="text" placeholder="add price" name="price">
            <button type="submit">add</button>
        </form>
        <ul>
            {% for expense in expenses %}
            <li>
                <p>{{ expense.expense }}</p>
                <form hx-put="{% url 'expense:update_expense' expense.id %}" hx-swap="outerHTML" hx-target="body">
                    <input type="text" placeholder="update expense" name="expense">
                    <input type="text" placeholder="update price" name="price">
                    <button type="submit">update</button>
                </form>
                <button hx-delete="{% url 'expense:remove_expense' expense.id %}" hx-swap="outerHTML" hx-target="body" type="submit">delete</button>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>